.App {
  text-align: center;
}

.test1{
  box-sizing: border-box;
  border: 2px solid black;
  width: min-content;
  margin-left: 400px;
  width: 450px;
}
.test2{
  padding:0px 50px 0px 50px;

}
.test3{
  border: 1px solid white;
  background-color: cornflowerblue;
}
.test4{
  border: 2px solid black;
  width: 300px;
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
  justify-content: center;
  background-color: darkgray;
}

